.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container-img{
  padding: 10px;
  width: 650px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  align-items: center
}
.divisor{
border: 1px solid black;
padding: 1px;
width: 900px;
margin: auto;
border-left:none;
border-right: none;
margin-top:20px;
}

.listrender, .moviedetails{
margin:auto;
width:900px;
text-align: center;
}

li{
list-style: none;
text-align: justify;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

