ul li {
text-decoration: none;
list-style: none;}

h3{
background-color: black;
color:white;
padding: 10px;
}

.mylist {
background-color: aqua;
padding: 20px;
margin:auto;
width:50%;
text-align: justify;}