body{
background-color:blue;
color:white}


.secret-word{
width: 70%;
border: 20px solid yellow;
margin: auto;
height: 150px;}

.secret-word input{
width: 92%;
height: 100px;
margin: 20px;
}
.footer{
margin: 0;
}
.play{
    padding:20px;
    margin:10px
}
.play button{
margin-left:20px;
height: 30px;
width: 80px;
color:white;
background-color:cadetblue;
font-size: 16px;
font-weight:300;
border: none;
}

.play input {
width: 26px;
height: 26px;
border:none}