.products{
display: flex;
justify-content: center;
flex-wrap: wrap;}

.products li{
border:1px solid #efefef;
text-align:center;
padding: 10px;
border-radius: 5px;
list-style-type: none;
margin:10px 10px;
width: 25%;}